# Rta Website Configuration (Vite)

# Main Backend URL
VITE_BACKEND_URL=https://schallten-a2xtbb49ws.hf.space

VITE_BACKEND_URL_BACKUP=https://rta-tb0k.onrender.com

# Mobile Execution Backend URL
VITE_MOBILE_BACKEND_URL=http://your-mobile-backend-ip:8080
