# Rta Website Configuration (Vite)

# Main Backend URL
VITE_BACKEND_URL=https://rta-tb0k.onrender.com

# Backup Backend URL (e.g. Render)
VITE_BACKEND_URL_BACKUP=https://rta-backend.onrender.com

# Mobile Execution Backend URL
VITE_MOBILE_BACKEND_URL=http://your-mobile-backend-ip:8080
